.searchContainer {
    margin: 30px 0;
}

.fieldset {
    position: relative;
    border-radius: 4px;
    background-color: #F0F4FC;

    padding: 0;
}

.fieldset:hover {
    background-color: #E2E8F3;
}

.fieldset:active,
.fieldset[data-state='focus'] {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.legend {
    display: none;
    position: absolute;
    top: 0;
    margin: 0 18px;
    padding: 3px 4px;
    color: #4C5A79;
    background-color: #E2E8F3;
    border-radius: 0px 0px 2px 2px;
    font-weight: 500;
    font-size: 13px;
}

.legend[data-state='focus'] {
    display: block;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    background-color: inherit;
    border: none;
    color: #4C5A79;
    font-size: 18px;
    font-family: 'Houschka Pro';
    margin: 18px 18px;
    width: 100%;
}

.input[data-state='focus'] {
    margin: 26px 18px 10px 18px;
}

.buttonSearch {
    background-color: inherit;
}

.icon {

    margin: 10px 20px;
}

@media screen and (max-width: 377px) {
    .input {
        font-size: 15px;
    }
    
}