@import url('./assets/fonts/FuturaPt/index.css');
@import url('./assets/fonts/HouschkaPro/index.css');

body {
  margin: 0;
  font-family: 'Houschka Pro', 'Futura PT', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  outline: none;
  text-decoration: none;
  border: none;
}

input,
button,
a {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
